@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root{
  --font-Euclid: "Euclid Circular A";
  --font-Poppins: "Poppins";
  --font-Marhey: "Marhey";
  --font-Montserrat: "Montserrat"
}

.font-Euclid{
  font-family: var(--font-Euclid);
}
.font-Poppins{
  font-family: var(--font-Poppins);
}
.font-Marhey{
  font-family: var(--font-Marhey);
}
.font-Montserrat{
  font-family: var(--font-Montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Marhey";
  src: url('/fontsMarhey/Marhey-Medium.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url('/fontMont/Montserrat-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: medium;
}
@font-face {
  font-family: "Montserrat";
  src: url('/public/fontMont/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}



@font-face {
  font-family: "Euclid Circular A";
  src: url('/fonts/Euclid-Circular-A-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Euclid Circular A";
  src: url('/fonts/Euclid-Circular-A-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "Euclid Circular A";
  src: url('/fonts/Euclid-Circular-A-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "Euclid Circular A";
  src: url('/fonts/Euclid-Circular-A-Light.ttf') format('truetype');
  font-weight: 300; /* Light weight */
  font-style: normal;
}

/* Light Italic */
@font-face {
  font-family: "Euclid Circular A";
  src: url('/fonts/Euclid-Circular-A-Light-Italic.ttf') format('truetype');
  font-weight: 300; /* Light weight */
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "Euclid Circular A";
  src: url('/fonts/Euclid-Circular-A-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium weight */
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url('/fonts/Euclid-Circular-A-Medium-Italic.ttf') format('truetype');
  font-weight: 500; /* Medium weight */
  font-style: italic;
}

/* SemiBold */
@font-face {
  font-family: "Euclid Circular A";
  src: url('/fonts/Euclid-Circular-A-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold weight */
  font-style: normal;
}

/* SemiBold Italic */
@font-face {
  font-family: "Euclid Circular A";
  src: url('/fonts/Euclid-Circular-A-SemiBold-Italic.ttf') format('truetype');
  font-weight: 600; /* SemiBold weight */
  font-style: italic;
}

/* Bold Italic */
@font-face {
  font-family: "Euclid Circular A";
  src: url('/fonts/Euclid-Circular-A-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url('/fontsb/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Poppins";
  src: url('/fontsb/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "Poppins";
  src: url('/fontsb/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "Poppins";
  src: url('/fontsb/Poppins-Light.ttf') format('truetype');
  font-weight: 300; /* Light weight */
  font-style: normal;
}

/* Light Italic */
@font-face {
  font-family: "Poppins";
  src: url('/fontsb/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300; /* Light weight */
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "Poppins";
  src: url('/fontsb/Poppins-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium weight */
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url('/fontsb/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500; /* Medium weight */
  font-style: italic;
}

/* SemiBold */
@font-face {
  font-family: "Poppins";
  src: url('/fontsb/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold weight */
  font-style: normal;
}

/* SemiBold Italic */
@font-face {
  font-family: "Poppins";
  src: url('/fontsb/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600; /* SemiBold weight */
  font-style: italic;
}

/* Bold Italic */
@font-face {
  font-family: "Poppins";
  src: url('/fontsb/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 2s ease-out forwards;
}





